
<center>
<br>
<br>
<br>
<br>

<div class="heading-section ftco-animate mb-5 text-center">
<span class="subheading">foodie orders</span>
<h1>Gráficos</h1>
</div>
<br>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div class="media">
  <div class="media-body">
    <table class="table table">
      <thead class="thead-light">
        <tr>
          <th>Platos más pedidos según Restaurante</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @rest.each do |rest| %>
          <tr>
            <td><%= column_chart rest.mas_ordenados,
            title: "Platos más ordenados en #{rest.name}",
            colors: ['pink'],
            library: {
              tooltip: {
                pointFormat: 'Times Bought: <b>{point.y}</b>'
              }
            }
            %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </div>
</div>
